/* FONTS*/
@font-face {
    font-family: 'Flexi IBM VGA False';
    src: url('/rewrite/fonts/FlexiIBMVGAFalse.woff2') format('woff2'),
        url('/rewrite/fonts/FlexiIBMVGAFalse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/rewrite/fonts/libmono/LiberationMono-BoldItalic.woff2') format('woff2'),
        url('/rewrite/fonts/libmono/LiberationMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/rewrite/fonts/libmono/LiberationMono-Bold.woff2') format('woff2'),
        url('/rewrite/fonts/libmono/LiberationMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/rewrite/fonts/libmono/LiberationMono-Bold.woff2') format('woff2'),
        url('/rewrite/fonts/libmono/LiberationMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('rewrite/fonts/libmono/LiberationMono-Italic.woff2') format('woff2'),
        url('rewrite/fonts/libmono/LiberationMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'F25 Bank Printer';
    src: url('rewrite/fonts/F25BankPrinter-Bold.woff2') format('woff2'),
        url('rewrite/fonts/F25BankPrinter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F25 Bank Printer';
    src: url('rewrite/fonts/F25BankPrinter.woff') format('woff2'),
        url('rewrite/fonts/F25BankPrinter.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'W95FA';
    src: url('rewrite/fonts/w95fa-webfont.woff2') format('woff2'),
        url('rewrite/fonts/w95fa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*BODY INFO*/
body{
    font-family: 'Liberation Mono';
    background-color: #018281;
}

.headerp {
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-size: 3vh;
    text-align: center;
}

/*HEADER CONTAINER*/
.headercontainer {
    position: relative;
    margin: auto;
    width: 10vh;
}
.headertop {
    margin: auto;
    background:url('photos/header/header-top.png') no-repeat;
    background:url('photos/header/header-mid.png') repeat-y;
}
.headercontent {
    margin: auto;
    background:url('photos/header/header-mid.png') repeat-y;

}
.headerbottom {
    margin: auto;
    background:url('photos/header/header-bot.png') no-repeat;
}

/*i cant figure out how to center it right now */

