/* FONTS*/
@font-face {
    font-family: 'Flexi IBM VGA False';
    src: url('fonts/FlexiIBMVGAFalse.woff2') format('woff2'),
         url('fonts/FlexiIBMVGAFalse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff2/LiberationMono-BoldItalic.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff/LiberationMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff2/LiberationMono-Bold.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff/LiberationMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff2/LiberationMono-Regular.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff/LiberationMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff2/LiberationMono-Italic.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/liberation%20mono/woff/LiberationMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'F25 Bank Printer';
    src: url('https://analog-reboot.neocities.org/fonts/F25BankPrinter-Bold.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/F25BankPrinter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F25 Bank Printer';
    src: url('https://analog-reboot.neocities.org/fonts/F25BankPrinter.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/F25BankPrinter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'W95FA';
    src: url('https://analog-reboot.neocities.org/fonts/w95fa-webfont.woff2') format('woff2'),
        url('https://analog-reboot.neocities.org/fonts/w95fa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*BODY INFO*/
body{
    font-family: 'Liberation Mono';
    background-color: #018281;
}

p {
    margin: 0 0 0 2vh
}

/*HEADER*/
.header {
    margin:auto;
    text-align: center;
    font-size: larger;
    background: white;
    width: fit-content;
    padding: 2vh;
    font-family: 'F25 Bank Printer';
    font-weight: normal;
}
/*HEADER CONTAINER*/
.headercontainer {
    position: relative;
    margin: auto;
}
.headertop {
    background:url ('photos/header/header-top.png') no-repeat;
}
.headercontent {
    background:url('photos/header/header-mid.png') repeat-y;

}

/*i dont remember how toast got rid of the gapteeth between the top and the content so ill figure it out later*/