/* FONTS*/
@font-face {
    font-family: 'Flexi IBM VGA False';
    src: url('/rewrite/fonts/FlexiIBMVGAFalse.woff2') format('woff2'),
        url('/rewrite/fonts/FlexiIBMVGAFalse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono BI';
    src: url('/rewrite/fonts/libmono/LiberationMono-BoldItalic.woff2') format('woff2'),
        url('/rewrite/fonts/libmono/LiberationMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono B';
    src: url('/rewrite/fonts/libmono/LiberationMono-Bold.woff2') format('woff2'),
        url('/rewrite/fonts/libmono/LiberationMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/rewrite/fonts/libmono/LiberationMono-Regular.woff2') format('woff2'),
        url('/rewrite/fonts/libmono/LiberationMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono I';
    src: url('rewrite/fonts/libmono/LiberationMono-Italic.woff2') format('woff2'),
        url('rewrite/fonts/libmono/LiberationMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'F25 Bank Printer';
    src: url('rewrite/fonts/F25BankPrinter-Bold.woff2') format('woff2'),
        url('rewrite/fonts/F25BankPrinter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F25 Bank Printer';
    src: url('rewrite/fonts/F25BankPrinter.woff') format('woff2'),
        url('rewrite/fonts/F25BankPrinter.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'W95FA';
    src: url('/rewrite/fonts/w95fa-webfont.woff2') format('woff2'),
        url('/rewrite/fonts/w95fa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*BODY INFO*/
body{
    font-family: 'Liberation Mono';
    background-color: #018281;
}

p {
    margin: 0 0 0 2vh
    }

.headerp {
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
}

.postp {
    margin: 0 0 0 3vh;
    font-size: medium;
    font-family: 'Liberation Mono';
    text-align: left;
}
/*HEADER CONTAINER*/

.headercontainer {
    width: 55vw;
    margin: auto;
    padding: 10vh;
}
.headertop {
    width: 55vw;
    background:url('photos/header/header-top.png') no-repeat;
    background:url('photos/header/header-mid.png') repeat-y;
    background-size: contain;
    margin: auto;
}
.headercontent {
    width: 55vw;
    background:url('photos/header/header-mid.png') repeat-y;
    background-size: contain;
    margin: auto;
}
.headerbottom {
    width: 55vw;
    background:url('photos/header/header-bot.png') no-repeat;
    background-size: contain;
    margin: auto;
    padding-bottom: 1vw;
}

.postcontainer {
    width: 55vw;
    margin: auto;
}
.posttop {
    width: 55vw;
    background:url('photos/post/post-top.png') no-repeat;
    background:url('photos/post/post-mid.png') repeat-y;
    background-size: contain;
    margin: auto;
}
.postcontent {
    width: 55vw;
    background:url('photos/post/post-mid.png') repeat-y;
    background-size: contain;
    margin: auto;
    font-size: medium;
}
.postbottom {
    width: 55vw;
    background:url('photos/post/post-mid.png') no-repeat;
    background-size: contain;
    margin: auto;
    padding-bottom: 1vw;
}
/*start bar and pagination*/
.start-bar {
    padding: 2px;
    box-shadow: inset 1px 0 #fff;
    display: block;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid grey;
    position: fixed;
    z-index: 99999;
    font-family: 'W95FA';
}
.start-button {
  float:left;
  padding-right: 3px;
  font-family: 'W95FA';
}
.start-bar-window {
    float: left;
    padding: 0 10px 0 6px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: inset 1px 1px grey;
    background-image: url(photos/start\ bar/backgroundwindow);
    font-family: 'W95FA';
}
.made-by {
    float: right;
    text-align: right;
    padding: 0 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    font-family: 'W95FA';
}
.neighbour-tag {
  float:right;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'W95FA';
}
.made-by, .start-bar-window {
    vertical-align: middle;
    height: 31px;
    line-height: 31px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: small;
    color: #000;
    font-family: 'W95FA';
}
/* fonts are fucked up on the start bar.
still cant centre the header. 
have not cleaned up the start bar. 
wanted to see if it worked.*/